<%= render "repos/search" %>
<div class="container">
  <h1 class="my-4">
    All Repositories
  </h1>
  <%= render 'repos/repo', obj: @repos %>
  <div class="my-2 mb-2">
    <%= paginate @repos %>
  </div>
</div>
