<%= render "repos/search" %>
<div class="container">
  <div class="top" style="min-height:400px;">
    <h1 class="my-4 text-white">
      Public Repositories
    </h1>

    <%= render 'repos/repo', obj: @repos.where(private_role: false) %>
    
  </div>
  <div class="my-2 mb-2">
    <%= paginate @repos %>
  </div>
</div>
