@import 'bootstrap/dist/css/bootstrap';
.navbar-brand {
    font-size: 3rem;
}

html,
body {
    height: 100%;
}

#page-content {
    flex: 1 0 auto;
}

/* Other Classes for Page Styling */

body {
    
    background: #007bff;
    background: linear-gradient(to right, #F5FFFA, #8FBC8F);
    // background: linear-gradient(to right, #0062E6, #33AEFF);
}

.avatar-lg {
    width: 300px;
    height: auto;
}

.avatar-sm {
    width: 30px;
    height: auto;
}

.text-custom {
    color: black;
    text-decoration: none;
}

.text-custom:hover {
    text-decoration: underline;
}

.text-custom2 {
    text-decoration: none;
}

.text-custom2:hover {
    text-decoration: underline;
}

.card-position {
    margin: auto;
}

//alert animation 
.alert-message {
    animation: mymove 6s;
    visibility: hidden;
    top: 10px;
    z-index: 999;
}

@keyframes mymove {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}