<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
        <%# <small>Copyright &copy; Your Website</small> %>
        <small>&copy; 2022 Copyright : <%= link_to 'MyCloud', 'https://file-hosting-rails-app.herokuapp.com/', class:"text-custom2" %></small>
    </div>
</footer>